body {
  margin: 0;
  padding: 20px;
  background: #ecf0f3;
  font-family: sans-serif;
  color: #333;
}

.resume-container {
  width: 100%;
  max-width: 900px;
  margin: 20px auto;
  padding: 20px;
  background: #fff;
  border-radius: 8px;
}

header {
  text-align: center;
}

header h1 {
  font-size: 2rem;
  color: #144f77;
}

header p {
  font-size: 1rem;
  color: #555;
}

section {
  margin-bottom: 20px;
}

section h1 {
  font-size: 1.5rem;
  color: #3868e1;
}

a {
  color: #3d7cda;
}

.contact {
  text-align: center;
  margin-top: 10px;
}

.contact img {
  width: 30px;
  height: 30px;
  margin: 0 10px;
}
